@{
    ViewBag.Title = "Home Page";
}

<html>
<style>
    h1 {
        text-align: center;
        font: bold;
    }

    h2 {
        text-align: center;
        color: #000000;
    }

    hr {
        color: #000000;
    }

    div {
        font-size: 15px;
        color: #000000;
    }

    ul {
        text-align: center;
        list-style-type: square;
    }
</style>

<head>

</head>

<body>

    <h1> Bienvenido a Saca Tu Entrada! </h1>
    <hr />

<div class="panel panel-primary">

    <div class="panel-heading">
        <h2> Venom </h2>
    </div>
    <div class="panel-body">
        <p style="float: left;"><img src="/Images/Venom.jpg"/></p>
        <p> Director: Ruben Fleischer</p>
        <p> Synopsis: When Eddie Brock acquires the powers of a symbiote, he will have to release his alter-ego "Venom" to save his life. </p>
        <p> Link To Trailer: <a href="https://www.youtube.com/watch?v=xLCn88bfW1o"> Venom - Trailer Oficial </a> </p>
        <ul>
        <li><a href="https://www.imdb.com/name/nm0362766/?ref_=tt_ov_st_sm">Tom Hardy</a> - Eddie Brock</li>
        <li><a href="https://www.imdb.com/name/nm0931329/?ref_=tt_ov_st_sm">Michelle Williams</a> - Anne Weying </li>
        <center><img src="/Images/4-stars.png"/></center>
    </div>
</div>

    <br>
    <br>
    <br>
    <hr />

<div class="panel panel-primary">
<div class="panel-heading">
    <h2> Captain Marvel </h2>
</div>
<div class="panel-body">
    <div>
        <p style="float: left;"><img src="/Images/Captain Marvel.jpg" /></p>
        <p>Director:  Anna Boden, Ryan Fleck</p>
        <p>Synopsis: Carol Danvers becomes one of the universe's most powerful heroes when Earth is caught in the middle of a galactic war between two alien races. </p>
        <p>Link al Trailer: <a href="https://www.youtube.com/watch?v=0LHxvxdRnYc"> Captain Marvel - Trailer Oficial</a> </p>
        <ul>
            <li><a href="https://www.imdb.com/name/nm0488953/?ref_=tt_cl_t1">Brie Larson</a> - Carol Danvers / Captain Marvel </li>
            <center><img src="/Images/5-stars.png" /></center>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <hr />

    <h2> Silence of the Lambs</h2>


    <div>
        <p style="float: left;"><img src="/Images/Silence of the Lambs.jpg" /></p>
        <p>Director: Jonathan Demme</p>
        <p> Synonpsis: A young FBI cadet must receive the help of an incarcerated and manipulative cannibal killer to help catch another serial killer, a madman who skins his victims.</p>
        <p> Link to Trailer: <a href="https://www.youtube.com/watch?v=RuX2MQeb8UM"> Silence of the Lambs Trailer Oficial </a> </p>
        <ul>
            <li><a href="https://www.imdb.com/name/nm0000149/?ref_=tt_ov_st_sm">Jodie Foster</a> - Clarice Starling</li>		
            <li><a href="https://www.imdb.com/name/nm0000164/?ref_=tt_ov_st_sm">Anthony Hopkins</a> - Dr. Hannibal LecterTadashi Hamada</li>
        </ul>
        <center><img src="/Images/5-stars.png" /></center>
    </div>

</html>